{% extends "base.html" %}

{% block content %}
<!-- background-color:rgb(37, 67, 150) -->
<nav class="navbar-default navbar-fixed-top shadow colorshade" >
   <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" style="border:white" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar" style="background-color:white"></span>
         <span class="icon-bar" style="background-color:white"></span>
         <span class="icon-bar" style="background-color:white"></span>
         </button>
         <a class="navbar-brand" style="color:white"><strong>Vocado</strong></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-left">
            <li><a href="#" style="color:white">REACH</a></li>
            <li style="background-color:rgb(255, 94, 94)"><a href="#" style="color:white">ENGAGE</a></li>
            <li><a href="#" style="color:white">MEASURE</a></li>
         </ul>

         <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="color:white"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
            <li><a href="#" style="color:white"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Setting</a></li>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>

   <!-- /.container-fluid -->
</nav>





<div  style=" margin-right:20px; margin-left:20px; margin-top:60px">

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Working leads</a></li>
</ul>
   <div class="container-fluid" style="height:20px"> </div>
   <div class="container-fluid">
      <!-- Main frame containing the 3 main white panels-->
      <div class="row">
         <div class="col-sm-3" style="padding:10px">
            <!-- Left side white panel -->
            <div class="shadow white-panel">
               <div class="white-panel-topbar">
                  <div style="height:23px">
                     <p class="title"><strong>All prospects ▾</strong>
                  </div>
                  <div class="row" style="height:20px">
                     <div class="col-xs-6">
                        <p class="subtitle">5 total</p>
                     </div>
                     <div class="col-xs-6" style="text-align:right; color:rgb(37, 67, 150)">

                        <div data-toggle="modal" data-target="#exampleModal" data-whatever="blabla"><p>Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></p></div>


                     </div>
                  </div>
               </div>
               <hr style="margin: 0px auto">
               <!-- Display of each contact -->
               <div class="container-fluid">
                  <br>
                  <div class="list-group">
                     <a href="#" class="list-group-item"><strong>Sean Lewin </strong><br><span  class="subtitle">The awesome co.</span><span class="badge" style="background-color:rgb(37, 67, 150)"></span></a>
                     <a href="#" class="list-group-item"><strong>Elon Musk </strong><br><span  class="subtitle">CEO at Tesla</span><span class="badge" style="background-color:white; color:rgb(37, 67, 150)"></span></a>
                     <a href="#" class="list-group-item"><strong>Jeff Bezos </strong><br><span  class="subtitle">CEO at Amazon</span></a>
                     <a href="#" class="list-group-item"><strong>Mark Benioff </strong><br><span  class="subtitle">CEO at Salesforce</span></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-6" style="padding: 10px">
            <!-- Central white panel -->
            <div class="shadow white-panel">
               <div class="white-panel-topbar">
                  <div class="row" style="height:23px">
                     <div class="col-xs-9" style="height:0px">
                        <p  class="title"><strong>Message history</strong></p>
                     </div>
                     <div class="col-xs-3" style="height:0px; text-align:right; color:rgb(37, 67, 150)">
                        <p><strong>Autopilot</strong></p>
                     </div>
                  </div>
                  <div class="row" style="height:20px">
                     <div class="col-xs-9">
                        <p class="subtitle">3 touches, last message 4 days ago</p>
                     </div>
                     <div class="col-xs-3" style="text-align:right; color:rgb(37, 67, 150)">
                        <label class="switch">
                           <input type="checkbox" checked> 
                           <div class="slider round"></div>
                        </label>
                     </div>
                  </div>
               </div>
               <hr style="margin: 0px auto">
               <!-- Subject form-->
               <div class="row">
                  <div class="col-xs-1" style="padding: 10px">
                     <div class="container-fluid" style="height:30px">
                        <p style="color:rgb(171,175,177); margin-top:4px">Subject:</p>
                     </div>
                  </div>
                  <div class="col-xs-11">
                     <div class="container-fluid">
                        <input type="text" class="form-control no-border" style="margin-top:7px" placeholder="RE: Our initial conversation"></input>
                     </div>
                  </div>
               </div>
               <hr style="margin: 0px auto">
               <!-- Body of the email-->
               <div style="padding:10px">
                  <p>Hi Aryeh,<br>Hope this email finds you well<br>Just want to follow up on the email below - are you still interested in knowing more about our offering?<br>In case let me know and we'll schedule a quick call<br>Best, <br>Federico</p>
               </div>
               <div style="text-align:right; padding:10px">
                  <button type="submit" class="btn btn-primary" style="background-color:rgb(37, 67, 150); border:rgb(37, 67, 150)">Send</button>
               </div>
            </div>
            <br>


            <div class="shadow white-panel" style="margin-left:40px">
               <div class="row">
                  <div class="col-xs-9">
                     <div style="padding:10px">
                        <p style="color:grey">RE: Our initial conversation<br><span class="label" style="background-color:rgb(37, 67, 150)">Reply</span></p>
                     </div>
                  </div>
                  <div class="col-xs-3"  style="padding:10px">
                     <p style="color:grey">27-04-2017, 11.05am</p>
                  </div>
               </div>
               <hr style="margin: 0px auto">
               <div style="padding:10px">
                  <p style="color:grey">Hi Federico,<br>Thanks for the info<br>What's your pricing?</p>
               </div>
            </div>
            <br>
            <div class="shadow white-panel" style="margin-left:40px">
               <div class="row">
                  <div class="col-xs-9">
                     <div style="padding:10px">
                        <p style="color:grey">RE: Our initial conversation<br><span class="label" style="background-color:rgb(37, 67, 150)">Follow up</span></p>
                     </div>
                  </div>
                  <div class="col-xs-3"  style="padding:10px">
                     <p style="color:grey">27-04-2017, 11.05am</p>
                  </div>
               </div>
               <hr style="margin: 0px auto">
               <div style="padding:10px">
                  <p style="color:grey">Hi Aryeh,<br>Hope this email finds you well<br>I’ve read your article on Linkedin and learnt a lot from your insights on sourcing software solutions for customer experience enhancement. I’ve implemented part of the process with my team already!</p>
               </div>
            </div>
            <br>



            <div class="shadow white-panel"  style="margin-left:40px">
               <div class="row">
                  <div class="col-xs-9">
                     <div style="padding:10px">
                        <p style="color:grey">RE: Our initial conversation<br><span class="label" style="background-color:rgb(37, 67, 150)">Initial message</span></p>
                     </div>
                  </div>
                  <div class="col-xs-3"  style="padding:10px">
                     <p style="color:grey">27-04-2017, 11.05am</p>
                  </div>
               </div>
               <hr style="margin: 0px auto">
               <div style="padding:10px">
                  <p style="color:grey">Hi Aryeh,<br>Hope this email finds you well<br>I’ve read your article on Linkedin and learnt a lot from your insights on sourcing software solutions for customer experience enhancement. I’ve implemented part of the process with my team already!<br>I’m Federico from Botcompany. We're building a gmail plugin to help sales teams crafting highly personalized prospecting emails (based on enriched data) in seconds, which in turn can yield a dramatic 5-10x increase in responses.<br>Would you be interested in testing our beta? It'll be $19.90 for the first month and $29.90 hours going forward. Sign up here / schedule call<br>Best, <br>Federico</p>
               </div>
            </div>
         </div>
         <div class="col-sm-3" style="padding:10px">
            <!-- Right white panel -->
            <div class="shadow white-panel"> 


               <div class="white-panel-topbar">
                  <div class="row" style="height:43px; text-align:center; padding-top:5px">

<label style="font-size:25px; color:grey"><strong>Sean Lewin</strong></label>
                  </div>
               </div>
               <hr style="margin: 0px auto">


<div class="container-fluid">
                  <br>


    <table class="table">
    <tr><td>Company</td><td>The Awesome co.</td></tr>
    <tr><td>Email</td><td>sslewin@gmail.com</td></tr>
    <tr><td>Mobile</td><td>+1 526 8229209</td></tr>
    </table>
<div data-toggle="modal" data-target="#exampleModal" data-whatever="blabla" style="color:grey; text-align:right"><p>Add info <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></p></div>

<hr>
<div style="text-align:right">
<button type="submit" class="btn btn-default" style="margin:10px" data-toggle="modal" data-target="#exampleModal" data-whatever="blabla">Forward and stop chasing</button><br>
<button type="submit" class="btn btn-danger" style="margin:10px" data-toggle="modal" data-target="#exampleModal" data-whatever="blabla">Stop chasing</button>
</div>


                </div>


            </div>
         </div>
      </div>
   </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Message_id:</label>
            <input type="text" class="form-control" id="recipient-name" readonly>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Tag:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" href="#" >Send message</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}