{% extends "base_user_panel.html" %}
{% block content %}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/leads">Leads</a></li>
    <li role="presentation" class="active"><a href="/profile">Profile</a></li>
</ul>


<h1>Welcome {{ first_name }}!</h1>
<hr>
<h3>Your profile summary</h3>
<p><b>First Name: </b><span class="label label-primary">{{ first_name }}</span></p>
<p><b>Last Name:</b> {{ last_name }}</p>
<p><b>Company:</b> {{ company }}</p>
<p><b>Email:</b> {{ email }}</p>


{% endblock %}